# Configurações do Flask
FLASK_ENV=development
SECRET_KEY=flaskadmin

# OpenAI
OPENAI_API_KEY=
MODEL_QA_GENERATOR=gpt-4o-mini

# Google Gemini
GEMINI_API_KEY=
GEMINI_MODEL=gemini-pro

# Qdrant Vector Database
QDRANT_PORT=6333
QDRANT_API_KEY=plnCEUB12025-SK2025

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=documents

# PostgreSQL - Memória do Chat
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=chat_memory
POSTGRES_USER=chat_user
POSTGRES_PASSWORD=chat_password

# n8n
N8N_TEST_WEBHOOK_URL=http://n8n:5678/webhook-test/agent-proxy
N8N_WEBHOOK_URL=http://n8n:5678/webhook/agent-proxy
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=admin123
N8N_USERNAME=admin
N8N_PASSWORD=admin123
N8N_REQUEST_TIMEOUT=120

# Embeddings (apenas APIs)
DEFAULT_EMBEDDING_MODEL=openai

# Processamento
CHUNK_SIZE=1000
CHUNK_OVERLAP=200

# Diretórios
UPLOAD_FOLDER=uploads
DATA_FOLDER=data 
